:host {
    .secretsContainer {
        display: flex;
        flex-wrap: wrap;

        mat-card {
            width: 480px;
            margin-left: 16px;
            margin-right: 16px;
            margin-bottom: 32px;

            mat-card-header {
                display: block;
                text-align: center;

                mat-card-title {
                    margin-bottom: 32px;

                    .new-secret-label {
                        display: inline-block;
                        padding: 0.25rem 0.5rem;
                        border-radius: 9999px;
                        background-color: red;
                        font-size: 0.8rem;
                        text-transform: uppercase;
                        letter-spacing: 0.1rem;
                    }
                }
            }

            mat-card-actions {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .actionButtons {
            display: flex;
            flex-direction: row;
        }
    }

    button {
        margin: 20px;
        ;
    }
}