:host {
    width: 100%;
    height: 100%;

    h2 {
        margin: 0px;
    }

    .actionButtons {
        button {
            margin-right: 20px;
        }
    }
    

    textarea {
        width: 100%;
        height: 300px;
        background-color: #303030;
        color: white;
        resize: none;
        margin-top: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .actionButtons {
        margin-top: 20px;
    }

    mat-divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header {
        display:flex;
        justify-content:space-between;
    }
    
}