<div class="header">
    <h2 mat-dialog-title>
        {{projectName}}
    </h2>
    <button mat-raised-button color="accent" (click)="onCancel()" *ngIf="!edit">
        Add user
    </button>
</div>

<mat-divider *ngIf="!edit"></mat-divider>
<div class="container">
    <ng-container class="projectConfig" *ngIf="!edit">
        <ng-container *ngFor="let config of configs | keyvalue" >
            <app-project-item 
            [key]="config.key"
            [value]="config.value"
            ></app-project-item>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="edit">
        <textarea [(ngModel)]="configsJson" *ngIf="edit">{{configsJson}}</textarea>
    </ng-container>
    <mat-divider *ngIf="!edit"></mat-divider>
    <div class="actionButtons">
        <button mat-raised-button color="accent" (click)="onEdit()" *ngIf="!edit">
            Edit
        </button>
        <button mat-raised-button color="accent" (click)="onSubmit()" *ngIf="edit">
            Submit
        </button>
        <button mat-raised-button color="accent" (click)="onCancel()" *ngIf="edit">
            Cancel
        </button>
    </div>
</div>


