:host {
    width: 100%;
    height: 100%;

    button {
        margin-top: 20px;
        button {
            margin-right: 20px;
        }
    }

    textarea {
        width: 100%;
        height: 100px;
        background-color: #303030;
        color: white;
        resize: none;
        margin-top: 20px;
    }

    .create-secret-container {
        display: flex;
        flex-direction: column;
        text-align: left;

        form {
            display: flex;
            flex-direction: column;
            text-align: left;
        }
    }

    mat-divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header {
        display:flex;
        justify-content:space-between;

        h2 {
            margin: 0px;
        }
    }
    
}