<h2 mat-dialog-title>
    Създаване на нова тайна
</h2>

<div class="create-secret-container">
    <form [formGroup]="createSecretFormGroup" name="createSecretFormGroup">
        <mat-form-field>
            <mat-label>Заглавие</mat-label>
            <input matInput [formControlName]="'header'">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Съдържание</mat-label>
            <textarea matInput [formControlName]="'content'"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Дни до изтичане</mat-label>
            <input matInput type="number" min="1" [formControlName]="'expireDays'">
        </mat-form-field>
    </form>
    <mat-checkbox [(ngModel)]="isOneTime">Еднократна</mat-checkbox>
    <select-names
        (newItemEvent)="onUsernamesChange($event)"
        ></select-names>
    <button class="create-button" mat-raised-button color="accent" (click)="onCreate()" [disabled]="!createSecretFormGroup.valid">
        Създаване
    </button>
</div>