:host {
    width: 100%;
    height: 100%;
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    mat-toolbar {
        mat-toolbar-row {
            justify-content: space-between;
        }

        .user-container {
            display: flex;
            flex-direction: row;

            .user-info {
                display: flex;
                flex-direction: row;

                .roles-container {
                    margin-left: 8px;
                }
            }

            button {
                margin-left: 16px;
            }
        }
    }

    header {
        z-index: 2;

        .drawer-icon {
            color: black;
        }
    }

    mat-drawer-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        mat-drawer-content {
            display: flex;

            main {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
        }

        .unread-messeges-count {
            background-color: red;
            color: white;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            line-height: 1.5em;
            margin-left: 10px;
          }
    }

    footer {
        z-index: 2;
    }
}