:host {
    .configsContainer {
        display: flex;
        flex-wrap: wrap;

        mat-card {
            width: 480px;
            margin: 16px;

            mat-card-header {
                display: block;
                text-align: center;

                mat-card-title {
                    margin-bottom: 32px;
                }
            }

            mat-card-actions {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .actionButtons {
            display: flex;
            flex-direction: row;
        }
    }

    button {
        margin-left: 20px;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .selected {
        background-color: #8a8a8a;
    }

}