<button mat-button *ngIf="isAdmin" color="accent" mat-raised-button (click)="onCreateClick()">Добавяне на конфигурация</button>

<div class="configsContainer">
  <ng-container *ngFor="let config of configs">
    <mat-card (click)="onConfigClick(config)" [class.selected]="selectedConfigs.includes(config.name)">
      <mat-card-header>
        <mat-card-title>{{config.name}}</mat-card-title>
        <mat-card-subtitle>{{config.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button color="accent" mat-raised-button (click)="onOpenClick(config.name)"
          (click)="onConfigClick(config)">Отваряне</button>
        <button *ngIf="isAdmin" mat-button color="accent" mat-raised-button (click)="onDeleteClick(config.name)"
          (click)="onConfigClick(config)">Изтриване</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>


<button mat-button color="accent" mat-raised-button [disabled]="!hasSelectedConfigs()"
  (click)="onGetSelectedClick()">Екпорт на конфигурации</button>
<button mat-button color="accent" mat-raised-button class="mat-file-upload">
  <span>Импорт на конфигурации</span>
  <input type="file" accept=".csv" (change)="onFileSelected($event)"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;">
</button>