<h2 mat-dialog-title>
    {{ isLoginForm ? loginTitle : registerTitle }}
</h2>

<mat-dialog-content>
    <div class="login-container" *ngIf="isLoginForm">
        <form [formGroup]="loginFormGroup" name="loginFormGroup">
            <mat-form-field>
                <mat-label>Потребителско име</mat-label>
                <input matInput [formControlName]="'username'">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Парола</mat-label>
                <input matInput
                      [formControlName]="'password'"
                      [type]="showPassword ? 'text' : 'password'">
                <mat-icon matSuffix (click)="showPassword = !showPassword">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </mat-form-field>
        </form>

        <button class="login-button" mat-raised-button color="accent" (click)="onLogin()" [disabled]="!loginFormGroup.valid">
            Вход
        </button>
        <p>
            Все още нямате акаунт? <button class="switch-button" mat-stroked-button (click)="isLoginForm = false">Регистрация</button>
        </p>
    </div>

    <div class="register-container" *ngIf="!isLoginForm">
        <form [formGroup]="registerFormGroup" name="registerFormGroup">
            <mat-form-field>
                <mat-label>Потребителско име</mat-label>
                <input matInput maxlength="20" [formControlName]="'username'">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Собствено име</mat-label>
                <input matInput maxlength="20" [formControlName]="'firstName'">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Фамилия</mat-label>
                <input matInput maxlength="20" [formControlName]="'lastName'">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Емейл</mat-label>
                <input matInput maxlength="50" [formControlName]="'email'" ngModel email>
            </mat-form-field>

             <mat-form-field>
                <mat-label>Парола</mat-label>
                <input matInput
                    maxlength="120"
                      [formControlName]="'password'"
                      [type]="showPassword ? 'text' : 'password'">
                <mat-icon matSuffix (click)="showPassword = !showPassword">{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
            </mat-form-field>
        </form>

        <button class="register-button" mat-raised-button color="accent" (click)="onRegister()" [disabled]="!registerFormGroup.valid">
            Регистриране
        </button>
        <p>
           Имате създаден акаунт? <button class="switch-button" mat-stroked-button (click)="isLoginForm = true">Вход</button>
        </p>
    </div>
</mat-dialog-content>
